<!DOCTYPE html>
<html lang="ro">
 <head>
 
  
       
       <meta name="keywords" content="bijuterii, cercei, argint, colier, inel, verighetă"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
       <meta name="description" content="bijuterii din metale pretioase. inele de logodnă, verighete. coliere din perle naturale. "><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
       
       <title>beYOU jewelery</title>
       <!-- <button id="tema" class="btn btn-secondary">theme</button> -->
       <%- include("../fragmente/head.ejs") %>

      
      

</head>
<body>
 <%- include("../fragmente/header.ejs") %>
 <br><br>
 <div class="miscator">
  • Cercei • Brățări • Coliere • Inele • Verighete • Nose rings • Cercei pentru bebeluși • Inele de logodnă • Accesorii • Brățări de picior • 
 </div>

<main id="grid-pagina">
  <!-- <h1>Bijuterii</h1> -->
  <section id="zona-1">
    <h2>Zona 1</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem consectetur minima odio soluta omnis
        possimus. Modi inventore molestias veniam consequuntur veritatis vero obcaecati! Soluta maiores numquam
        quis dolore, deleniti totam?</p> 
        <p> 
          <!-- ip: <%- locals.a + locals.b %> -->
        </p>
        <div id="duotone"> </div>
</section>

<section id="zona-3">
    <h2>Zona 3</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, reiciendis optio nulla laborum unde
        impedit excepturi consectetur! Delectus et beatae fugit, nisi laudantium fugiat tenetur minus adipisci
        recusandae, maxime ad.</p>

</section>

<section id="zona-2">
    <h2>Zona 2</h2>
    
      <div style = "overflow-x:auto;">

        <table>
                  <caption> Program </caption>
                  <thead>
                      <tr>
                        <td></td>

                        <th> Perioadă </th>
                          <th> Zi </th>
                          <th> Interval vânzări </th>
                          <th> Pauză de masă </th>
                          <th> Interval <i lang="en"> piercing </i></th> 
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td></td>

                        <td rowspan="5"> Zile <br/> lucrătoare </td>
                          <td> Luni </td>
                          <td> 10-20 </td>
                          <td> 14-16 </td>
                          <td> 18-20 </td>
                      </tr>
                      <tr>
                        
                          <td></td>

                          <td> Marți </td>
                          <td> 10-20 </td>
                          <td> 14-16 </td>
                          <td> 18-20 </td>
                      </tr>
                      <tr>
                          
                          <td></td>

                          <td> Miercuri </td>
                          <td> 10-20 </td>
                          <td> 14-16 </td>
                          <td> 18-20 </td>
                      </tr>
                      <tr>
                       
                        <td></td>

                        <td> Joi </td>
                        <td> 10-20 </td>
                        <td> 14-16 </td>
                        <td> 18-20 </td>
                      </tr>
        
                      <tr>
                       
                        <td></td> 

                        <td> Vineri </td>
                        <td> 10-20 </td>
                        <td> 14-16 </td>
                        <td> 18-20 </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td rowspan="2"> Weekend </td>
                        <td> Sâmbătă</td>
                        <td> 12-18 </td>
                        <td> 14-15 </td>
                        <td> 16-18 </td>
                      </tr>
                      <tr>
                        
                        <td></td>

                        <td> Duminică </td>
                        <td> 12-18 </td>
                        <td> 14-15 </td>
                        <td> 16-18 </td>
                      </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <caption>
                  În zilele de sărbătoare magazinul nostru este închis.
                 </caption> </tr>
                </tfoot>
              </table>
        
        </div>
</section>
<section id="zona-4">
    <h2>Zona 4</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia beatae nulla velit officia dolor
        suscipit quaerat perspiciatis eveniet, fugit, cupiditate, neque commodi ducimus earum sequi atque
        ratione magnam incidunt!</p>
</section>
<section id="zona-5">
  <h2>Zona 5</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia beatae nulla velit officia dolor
      suscipit quaerat perspiciatis eveniet, fugit, cupiditate, neque commodi ducimus earum sequi atque
      ratione magnam incidunt!</p>
</section>
<section id="zona-6">
  <h2>Zona 6</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia beatae nulla velit officia dolor
      suscipit quaerat perspiciatis eveniet, fugit, cupiditate, neque commodi ducimus earum sequi atque
      ratione magnam incidunt!</p>
</section>
<section id="zona-7">
  <h2>Zona 7</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quia beatae nulla velit officia dolor
      suscipit quaerat perspiciatis eveniet, fugit, cupiditate, neque commodi ducimus earum sequi atque
      ratione magnam incidunt!</p>
</section>
<section id="zona-8"> 
  <section id="inele">
  <!-- <br/> -->
  <figure> 
    <picture> 
         <source media="(max-width: 600px)" srcset="resurse/imagini/bijou1.jpeg">
        <source media="(max-width: 1000px)" srcset="resurse/imagini/bijou2.jpeg"> 
          <img src="resurse/imagini/bijou.jpeg" alt="imagine-sigla" title="beYOU jewelery"/>
    </picture>
    <figcaption> Noua colecție!  </figcaption>
  </figure>
  <p> Descărcați imaginea aici : <a class="link" href="resurse/imagini/bijou.jpeg" download="noua colecție">
    <img src="resurse/imagini/bijou.jpeg" alt="Bijou"> 
  </a></p>

<section id="verighete"> 
 <h3> Verighete </h3>
 <hr>
<p> În incinta magazinului nostru puteți găsi diferite modele de verighete, realizate atât din aur, cât și din argint, sau chiar și  diamante aplicate. </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quis soluta vero dicta consequuntur itaque odit temporibus suscipit, porro voluptas, doloremque autem aperiam cupiditate minima architecto esse in. Quos, nostrum.</p>
<p><strong> 
    Oferim și opțiunea de a realiza verighete la comandă! Pentru mai multe informații, vă așteptăm în locația noastră!
</strong></p>
 <p>De asemenea, oferim și o reducere în valoare de <span style="font-weight:bold;"><s>10%.</s><ins style="text-decoration:none;"> 15%</ins></span> pentru cuplurile care cumpără și inelul de logodnă din magazinul nostru.</p> 
<hr>
</section>
<section id="logodna"> 
     <h3> Inele de logodnă </h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo corrupti deserunt inventore reprehenderit, mollitia repellendus. Veritatis perferendis quam quos temporibus ut mollitia odit pariatur hic iure voluptas eum, vitae ipsa?</p>
    <p>Pentru a alege cel mai potrivit inel de logodnă, vă recomandăm să aruncați o privire la sfaturile și metodele de măsurare descrise la acest link:<a class="link" href="https://www.kultho.ro/despre-inele-de-logodna.html" target="_blank"> Tips and tricks </a> </p>
</section>

<section id="bijuterii">
    <details><summary> Sunt bijuteriile noastre rezistente la apă? </summary>
    <p> Da! </p></details>
    <details>
    <summary> Cum pot curăța bijuteriile după o purtare îndelungată?</summary> 
    <p> Pentru curățarea bijuteriilor achiziționate de la noi puteți folosi fie spuma specială de curățare pe care o puteți găsi la categoria <B> Accesorii </B> sau puteți folosi un amestec de bicarbonat de sodiu, oțet și soluție de spălat vase. 
    <div class="container">
      <div class="container-iframe" >
       <div class="taburi-iframe"> 
        <a class="link" href="https://www.youtube.com/embed/Oc8jgyaBMkk" target="ifr-video"> Tutorial 1.</a>
        <a class="link" href="https://www.youtube.com/embed/KxzLmQd9TPI" target="ifr-video"> Tutorial 2.</a></p>
       </div>
      <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/Oc8jgyaBMkk" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    
       
       </div>  
</details>

<div id="grid-galerie">
  <% for (let imag of locals.imagini) {
     d=new Date()
     var v_luni=["ianuarie", "februarie", "martie","aprilie","mai","iunie","iulie","august","septembrie","octombrie","noiembrie","decembrie"]
     if(imag.luni && imag.luni.includes(v_luni[d.getMonth()])) {
     %>
          <figure>
              <picture>
                  <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                  <img src="<%- imag.fisier %>" alt="imagine">
              </picture>
              <figcaption><%- imag.descriere %></figcaption>
          </figure>


  <% }  %>
<% }  %>
</div>

    <p>                                              </p>
</section>
<div id="outer">
  <a id="back-to-top" href="#">
      <div id="inner" title="Înapoi la începutul paginii">&#129081;</div>
  </a>
</div>
<div id="watermark">
</div>
</main>
<%- include("../fragmente/footer.ejs") %>
  </body>
</html>
